<%= javascript_include_tag "flot/jquery.flot" %>
<%= javascript_include_tag "flot/jquery.colorhelpers" %>
<%= javascript_include_tag "flot/jquery.flot.threshold" %>
<%= javascript_include_tag "flot/jquery.flot.orderBars" %>

<%= javascript_include_tag "bootstrap_switch_2" %>
<%= javascript_include_tag "steps" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="active"><a href="/?dashboard=<%=params[:dashboard]%>">FLOW</a></li>
          <!--li><a href="#">STAGNANCE</a></li-->
          <li><a href="/steps/test?dashboard=<%=params[:dashboard]%>">TEST</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <!-- vertical graph -->
    <div id="dsahboard" class="span10" >
      <div class="row">
        <div class="input-prepend input-append span5">
          <span class="add-on">STEP ID</span>
          <input id="vertical_graph_select" class="input-xxlarge" type="text" placeholder="Copy this id to track this step." />
          <span id="vertical_graph_last_update" class="add-on">0 초전 업데이트</span>
        </div>
        <div class="span7">
          <div class="switch active pull-right" data-toggle="switch">
            <input type="checkbox" id="refresh" checked></input>
            <span class="switch-thumb" data-label-on="FLOW" data-label-off="STOP"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <select id="window_size">
          <option value="50">50 samples</option>
          <option value="100">100 samples</option>
          <option value="150">150 samples</option>
          <option value="200">200 samples</option>
          <option value="250">250 samples</option>
        </select>
      </div>
      <div class="row">
        <div id="vertical_graph" style="height:300px"></div> 
      </div>
      <div class="row"><br/></div>
      <div class="row">
        <label class="span4">THRESHOLD :
          <select id="flow_threshold">
            <option value="20">20 counts</option>
            <option value="50">50 counts</option>
            <option value="100">100 counts</option>
            <option value="200">200 counts</option>
          </select>
        </label>
        <label class="span4"> FLOW PERIOD :
          <select id="flow_period" >
            <option value="60">60 min</option>
            <option value="120">120 min</option>
            <option value="180">180 min</option>
          </select>
        </label>
        <label class="span4"> FLOW MAX :
          <select id="flow_max" >
            <option value="100">100 per/min</option>
            <option value="150">150 per/min</option>
            <option value="200">200 per/min</option>
          </select>
        </label>

      </div>
      <div class="row">
        <div id="flow_graph" style="height:300px" ></div>
      </div>
    </div><!--/span-->
  </div><!--/row-->

</div>


<script type="text/html"  id="stepTemplate">
{{#steps}}
  <div class="progress progress-{{status}} progress-striped active" >
    <div class="bar" style="width: {{progress}}%" >
      {{si}}({{cs}}/{{ms}})
    </div>
  </div>
{{/steps}}
</script>
<script type="text/html"  id="lastUpdateTemplate">
  <b>{{past_seconds}}초전 업데이트</b>
</script>
