<%= javascript_include_tag "flot/jquery.flot" %>
<%= javascript_include_tag "flot/jquery.colorhelpers" %>
<%= javascript_include_tag "flot/jquery.flot.crosshair"%>
<%= javascript_include_tag "flot/jquery.flot.fillbetween"%>
<%= javascript_include_tag "flot/jquery.flot.image"%>
<%= javascript_include_tag "flot/jquery.flot.navigate"%>
<%= javascript_include_tag "flot/jquery.flot.pie"%>
<%= javascript_include_tag "flot/jquery.flot.resize"%>
<%= javascript_include_tag "flot/jquery.flot.selection"%>
<%= javascript_include_tag "flot/jquery.flot.stack"%>
<%= javascript_include_tag "flot/jquery.flot.symbol"%>
<%= javascript_include_tag "flot/jquery.flot.threshold" %>
<%= javascript_include_tag "flot/jquery.flot.orderBars" %>

<%= javascript_include_tag "bootstrap_switch_2" %>
<%= javascript_include_tag "steps" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="active"><a href="/?dashboard=<%=params[:dashboard]%>">FLOW</a></li>
          <!--li><a href="#">STAGNANCE</a></li-->
          <li><a href="/steps/test?dashboard=<%=params[:dashboard]%>">TEST</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <!-- vertical graph -->
    <div id="dsahboard" class="span10" >
      <div class="row">
        <div class="input-prepend input-append">
          <span class="add-on">STEP ID</span>
          <input id="vertical_graph_select" type="text" placeholder="It'll be stored in the clipboard too!" class="span6" />
          <span id="vertical_graph_last_update" class="add-on">0 초전 업데이트</span>
        </div>
      </div>
      <div class="row">
        <div id="vertical_graph" style="height:150px"></div> 
      </div>
      <div class="row">
        <div id="flow_graph" style="height:150px" ></div>
      </div>
    <!-- vertical graph -->
    <!-- progress bars --> 
      <div id="progresses" class="row">
      <% @steps.each do |step| %>
        <div class="progress progress-<%=step.status%> progress-striped active" >
          <div class="bar" style="width: <%=step.progress%>%" >
            <%= step.si%>(<%=step.cs.to_i%>/<%=step.ms.to_i%>)
          </div>
        </div>

      <% end %>
      </div><!-- progress bars -->
    </div><!--/span-->
  </div><!--/row-->
  <div class="switch active pull-right" data-toggle="switch">
    <input type="checkbox" id="refresh" checked></input>
    <span class="switch-thumb" data-label-on="FLOW" data-label-off="STOP"></span>
  </div>

</div>


<script type="text/html"  id="stepTemplate">
{{#steps}}
  <div class="progress progress-{{status}} progress-striped active" >
    <div class="bar" style="width: {{progress}}%" >
      {{si}}({{cs}}/{{ms}})
    </div>
  </div>
{{/steps}}
</script>
<script type="text/html"  id="lastUpdateTemplate">
  <b>{{past_seconds}}초전 업데이트</b>
</script>
