<%= javascript_include_tag "bootstrap_switch_2" %>
<%= javascript_include_tag "steps" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="active"><a href="/?dashboard=<%=params[:dashboard]%>">FLOW</a></li>
          <!--li><a href="#">STAGNANCE</a></li-->
          <li><a href="/steps/test?dashboard=<%=params[:dashboard]%>">TEST</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div id="progresses" class="span10">
    <% @steps.each do |step| %>
      <div class="progress progress-<%=step.status%> progress-striped active" >
        <div class="bar" style="width: <%=step.progress%>%" >
          <%= step.si%>(<%=step.cs.to_i%>/<%=step.ms.to_i%>)
        </div>
      </div>

    <% end %>
         
    </div><!--/span-->
  </div><!--/row-->
  <div class="switch active pull-right" data-toggle="switch">
    <input type="checkbox" id="refresh" checked></input>
    <span class="switch-thumb" data-label-on="FLOW" data-label-off="STOP"></span>
  </div>

</div>


<script type="text/html"  id="stepTemplate">
{{#steps}}
  <div class="progress progress-{{status}} progress-striped active" >
    <div class="bar" style="width: {{progress}}%" >
      {{si}}({{cs}}/{{ms}})
    </div>
  </div>
{{/steps}}
</script>
