<%= javascript_include_tag "bootstrap_switch_2" %>
<%= javascript_include_tag "steps" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li><a href="#">FLOW</a></li>
          <li><a href="#">STAGNANCE</a></li>
          <li><a href="#">TEST</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
    <% @steps.each do |step| %>
      <div class="progress progress-striped active" >
        <div class="bar" style="width: <%=step.progress.to_i%>%" >
          <%= step.si%>(<%=step.cs.to_i%>/<%=step.ms.to_i%>)
        </div>
      </div>

    <% end %>
      <div class="switch active pull-right" data-toggle="switch">
        <input type="checkbox" id="refresh" checked></input>
        <span class="switch-thumb" data-label-on="FLOW" data-label-off="STOP"></span>
      </div>
   
    </div><!--/span-->
  </div><!--/row-->
</div>

<!---------------------------
  log view layer template
  
  use mustache template
------------------------------->
<script id="layer" type="text/html">
  <div class="nnTitleBarWrapper">
    <div class="nnTitleBarLeft" id="nnTitleBarID">log view : {{UUID}}</div>
    <div class="nnclose"></div>
    <div id="loader_{{UUID}}"></div>
  </div>
  <div class="nnContents">
    <div id="log_{{UUID}}" class="logging"></div>
  </div>
</script>

